@use '../../styles/_variables.scss' as *;

.header_container {
  grid-area: 1 / 1 / 2 / 3;
  background-color: $bg;
  border: 2px solid $border;
  box-shadow: 1px 1px 5px $accent;
  border-radius: 1px 1px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
}

.header_icon{
  width: 2rem;
  max-height: 2rem;
  color: $text;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.navbar_user {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-right: 1rem;
}
